absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==5.1.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
blinker==1.6.2
BlurGenerator==1.0.4
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.0.4
click==8.1.7
contourpy==1.0.7
cryptography==39.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
dill==0.3.7
distro==1.8.0
docker==6.0.1
einops==0.6.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.9.0
flatbuffers==2.0.7
flit_core==3.8.0
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gevent==22.10.2
geventhttpclient==2.0.2
gitdb==4.0.10
GitPython==3.1.37
gmpy2==2.1.2
google-auth==2.19.1
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.53.0
httplib2==0.22.0
huggingface-hub==0.15.1
idna==3.4
imageio==2.28.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipykernel==6.15.0
ipython==8.13.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-client==7.0.6
jupyter_core==4.12.0
kiwisolver==1.4.4
lazy_loader==0.2
lightning-utilities==0.8.0
llvmlite==0.39.1
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
nest-asyncio==1.5.6
networkx==2.8.4
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
onnx==1.13.1
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.1.2
packaging==23.0
pandas==2.0.1
parso==0.8.3
pdfkit==1.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.1.2
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.15.1
pyOpenSSL==23.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-rapidjson==1.10
pytorch-lightning==0.8.5
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==19.0.2
qudida==0.0.4
referencing==0.30.2
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.5.3
rpds-py==0.10.3
rsa==4.9
safetensors==0.3.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
setuptools==65.6.3
six==1.16.0
smmap==5.0.1
stack-data==0.6.2
streamlit==1.27.0
sympy==1.11.1
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tf2onnx==1.14.0
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.9.2
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.0
torchmetrics==0.11.4
torchvision==0.15.0
tornado==6.1
tqdm==4.65.0
traitlets==5.9.0
triton-model-analyzer==1.26.0
tritonclient==2.32.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==5.0.1
ultralytics==8.0.187
urllib3==1.26.15
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.6
websocket-client==1.5.1
Werkzeug==2.3.6
wheel==0.38.4
xlrd==2.0.1
yarl==1.8.2
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
